body{
    background-color: rgb(115, 28, 196);
    color: beige;
    font-family: "poppins";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700pxv
}

button{
    background-color: black;
    color:beige;
    font-family: "poppins";
    align-items: center;

    
}

.passo{
    display:none;
}

.passo.ativo{
    display: block;
}